//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.reads='.'
params.outdir='spriggan_results'

//PreProcessing
params.name_split_on=''

//Trimming parameters
params.minlength=75
params.windowsize=4
params.qualitytrimscore=30
params.savetrimmedreads=false

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

//#####################
//####Docker Params####
//#####################

docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

//#######################
//###Docker Containers###
//#######################

bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
shovill_container = 'staphb/shovill:1.1.0'
quast_container = 'staphb/quast:5.0.2'
amrfinder_container = 'wslhbio/amrfinder-pandas:latest'
amrfinder_summary_container = 'wslhbio/amrfinder-parser:1.0'
samtools_container = 'staphb/samtools:1.10'
coverage_stats = 'wslhbio/amrfinder-parser:1.0'
mlst_container = 'staphb/mlst:2.17.6-cv1'
mlst_formatting_container = 'wslhbio/amrfinder-parser:1.0'
kraken_container = 'staphb/kraken2:2.0.8-beta'
linux_container = 'ubuntu:xenial'

process {
  cpus = 2
  memory = '4 GB'

  withName:preProcess{
    container = linux_container
  }
  withName:clean_reads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = amrfinder_summary_container
  }
  withName:mlst{
    container = mlst_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:coverage_stats{
    container = coverage_stats
  }
  withName:mlst_formatting{
    container = mlst_formatting_container
  }
  withName:kraken{
    cpus = 8
    memory = '15 GB'
    container = kraken_container
  }
  withName:kraken_summary{
    container = amrfinder_summary_container
  }
  withName:bbduk_summary{
    container = amrfinder_summary_container
  }
  withName:merge_results{
    container = amrfinder_summary_container
  }
  withName:amrfinder{
    container = amrfinder_container
  }
  withName:amrfinder_summary{
    container = amrfinder_summary_container
  }
}
