//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.reads=''
params.outdir='spriggan_results'

//PreProcessing
params.name_split_on=''

//Trimming parameters
params.minlength=10
params.trimdirection="lr"
params.qualitytrimscore=10
params.savetrimmedreads=false

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

//#####################
//####Docker Params####
//#####################

docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

//#######################
//###Docker Containers###
//#######################

bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
shovill_container = 'staphb/shovill:1.1.0'
quast_container = 'staphb/quast:5.0.2'
amrfinder_container = 'quay.io/wslh-bioinformatics/spriggan-amrfinder:3.10.1'
samtools_container = 'staphb/samtools:1.10'
mlst_container = 'quay.io/wslh-bioinformatics/spriggan-mlst:2.19.0'
kraken_container = 'staphb/kraken2:2.0.8-beta'
linux_container = 'ubuntu:xenial'
multiqc_container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0'
pandas_container = 'quay.io/wslh-bioinformatics/spriggan-pandas:1.3.2'

process {
  cpus = 2
  memory = '4 GB'

  withName:preProcess{
    container = linux_container
  }
  withName:clean_reads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = pandas_container
  }
  withName:mlst{
    container = mlst_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:coverage_stats{
    container = pandas_container
  }
  withName:mlst_formatting{
    container = pandas_container
  }
  withName:kraken{
    cpus = 8
    memory = '15 GB'
    container = kraken_container
  }
  withName:kraken_summary{
    container = pandas_container
  }
  withName:bbduk_summary{
    container = pandas_container
  }
  withName:merge_results{
    container = pandas_container
  }
  withName:amrfinder_setup{
    container = pandas_container
  }
  withName:amrfinder{
    container = amrfinder_container
  }
  withName:amrfinder_summary{
    container = pandas_container
  }
  withName:multiqc{
    container = multiqc_container
  }
}
