params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}

report {
    enabled = true
    file = '/mnt/workflow/output/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '/mnt/workflow/output/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '/mnt/workflow/output/trace.txt'
    overwrite = true
}

dag {
    enabled = true
    file = '/mnt/workflow/output/dag.html'
    overwrite = true
}

manifest {
    nextflowVersion = '!>=23.10'
}

conda {
    enabled = false
}

docker {
    enabled = true
}
