params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}
manifest {
    nextflowVersion = '!>=23.10'
}
conda {
    enabled = false
}
process {
    withName: '.*' { conda = null }
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:MLST' { container = 'wslh-bioinformatics/spriggan-mlst:2.19.0'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:INPUT_CHECK:SAMPLESHEET_CHECK' { container = 'biocontainers/python:3.8.3'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:KRAKEN' { container = 'staphb/kraken2:2.0.8-beta'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:AMRFINDER_SETUP' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:KRAKEN_SUMMARY' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:FASTQC' { container = 'staphb/fastqc:0.11.8'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:SAMTOOLS' { container = 'staphb/samtools:1.10'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:QUAST_SUMMARY' { container = 'wslh-bioinformatics/pandas@sha256:9ba0a1f5518652ae26501ea464f466dcbb69e43d85250241b308b96406cac458'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:CALCULATE_ASSEMBLY_STATS' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:FASTQC_SUMMARY' { container = 'wslh-bioinformatics/fastqc@sha256:6e4ace04f051e6138447ca64f5c6f44889157cc641fe8e0a40947a3949d47ab8'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:AMRFINDER_SUMMARY' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:SHOVILL' { container = 'staphb/shovill:1.1.0'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:AMRFINDER' { container = 'wslh-bioinformatics/spriggan-amrfinder:3.10.30'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'biocontainers/multiqc:1.13--pyhdfd78af_0'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:MLST_SUMMARY' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:ASSEMBLY_STATS_SUMMARY' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:MULTIQC' { container = 'wslh-bioinformatics/multiqc@sha256:23c5f869c8f162754dd6d4fa18e8fb7d9d592bb0e6c4de2d1f4cd0c033bd0011'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:BBDUK_SUMMARY' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:RESULTS' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:BBDUK' { container = 'staphb/bbtools:38.76'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:COVERAGE_STATS' { container = 'wslh-bioinformatics/pandas@sha256:9ba0a1f5518652ae26501ea464f466dcbb69e43d85250241b308b96406cac458'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:QUAST' { container = 'staphb/quast:5.0.2'}
    withName: '(.+:)?WSLHBIO_SPRIGGAN:SPRIGGAN:GC_STATS_SUMMARY' { container = 'wslh-bioinformatics/spriggan-pandas:1.3.2'}
}
docker {
    enabled = true
    registry = <account_id>.dkr.ecr.us-east-1.amazonaws.com
}
