process.executor = 'awsbatch'
process.queue = ''
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-2'
workDir = 's3://'
//cleanup=true

includeConfig 'docker_containers.config'

process {
  cpus = 10
  memory = '20 GB'

  withName:preProcess{
    container = linux_container
  }
  withName:clean_reads{
    container = bbtools_container
  }
  withName:bbduk_summary{
    container = pandas_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 10
    memory = '20 GB'
    container = shovill_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:coverage_stats{
    container = pandas_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = pandas_container
  }
  withName:mlst{
    container = mlst_container
  }
  withName:mlst_summary{
    container = pandas_container
  }
  withName:kraken{
    cpus = 10
    memory = '20 GB'
    container = kraken_container
  }
  withName:kraken_summary{
    container = pandas_container
  }
  withName:amrfinder_setup{
    container = pandas_container
  }
  withName:amrfinder{
    container = amrfinder_container
  }
  withName:amrfinder_summary{
    container = pandas_container
  }
  withName:merge_results{
    container = pandas_container
  }
  withName:multiqc{
    container = multiqc_container
  }
}
