docker.enabled = true

includeConfig 'docker_containers.config'

process {
  cpus = 2
  memory = '4 GB'

  withName:preProcess{
    container = linux_container
  }
  withName:clean_reads{
    container = bbtools_container
  }
  withName:bbduk_summary{
    container = pandas_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '16 GB'
    container = shovill_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:coverage_stats{
    container = pandas_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = pandas_container
  }
  withName:mlst{
    container = mlst_container
  }
  withName:mlst_summary{
    container = pandas_container
  }
  withName:kraken{
    cpus = 8
    memory = '16 GB'
    container = kraken_container
  }
  withName:kraken_summary{
    container = pandas_container
  }
  withName:amrfinder_setup{
    container = pandas_container
  }
  withName:amrfinder{
    container = amrfinder_container
  }
  withName:amrfinder_summary{
    container = pandas_container
  }
  withName:merge_results{
    container = pandas_container
  }
  withName:multiqc{
    container = multiqc_container
  }
}
